body {
    margin: 0px;
}
.header-bar {
    height: 50px;
    width: 100%;
    background-color: #EBF5F7;
    margin: 0px;

}
.header-text {
    font-family: Roboto Slab;
    padding: 12px 15px 0px 15px;
    font-size: 18px;
    margin: 0px;
    float: left;
}
.header-button {
    font-family: Roboto Slab;
    padding: 12px 20px;
    font-size: 18px;
    margin: 0px;
    float: right;

}
#main-contain {
    position: relative;
    display: flex;

}
#img2 {
    position: absolute;
    left: 300px;
    top: 200px;
    width: 35%

}
